127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups['cassandra'] %}
{{ hostvars[host].ansible_default_ipv4.address }} {{host}} {{hostvars[host].ansible_fqdn}}
{% endfor %}

{% for host in groups['opscenter'] %}
{{ hostvars[host].ansible_default_ipv4.address }} {{host}} {{hostvars[host].ansible_fqdn}}
{% endfor %}

{% for host in groups['loadgen'] %}
{{ hostvars[host].ansible_default_ipv4.address }} {{host}} {{hostvars[host].ansible_fqdn}}
{% endfor %}
