
 __  __     ______   ______   
/\ \_\ \   /\  == \ /\  ___\  
\ \  __ \  \ \  _-/ \ \  __\  
 \ \_\ \_\  \ \_\    \ \_____\
  \/_/\/_/   \/_/     \/_____/
                              

Host: {{ ansible_hostname }}
